/* --------------------------------
Accordions
-------------------------------- */
/*
Accordions are used to expand information
*/

.accordion {
	border-bottom: convert-rem(1px) solid $admin-grey-1;
	@include transform-timing($admin-animation-time);

	.btn {
		&.icon-chevron-up {
			width: 100%;
			justify-content: space-between;
		}

		background-color: transparent;
	}

	.icon-chevron-up {
		white-space: normal;

		&:after {
			transform: rotate(0deg);
			@include transform-timing-specific(transform, $admin-quick-animation-time);
		}
	}

	.accordion__info {
		background-color: $admin-grey-0;

		//this is for animating the info block sta
		&--collapsed {
			@include cubic-bezier-ease-in(all, $admin-quick-animation-time);
			height: 0;
			min-height: 0;
			max-height: 0;
			overflow: hidden;
		}

		&--expanded {
			@include cubic-bezier-ease-in(all, $admin-slow-animation-time);
			min-height: convert-rem(200px);
			max-height: convert-rem(3000px);
			height: 100%;
			overflow: hidden;
		}
	}

	&.active {
		.icon-chevron-up {
			&:after {
				transform: rotate(180deg);
				@include transform-timing-specific(transform, $admin-quick-animation-time);
			}
		}
	}
}
