.input-group__dropdown {
	input {
		width: 100%;
	}

	.dropdown__container {
		grid-area: input;

		line-height: 1;
		font-size: $input-font-size;
		vertical-align: top;
		border-radius: $input-radius;
		color: $grey-8;
		font-weight: $text-regular;
		border: convert-rem(1px) solid $grey-4;
		input {
			margin-top: 0.25rem;
		}
		&.active,
		&.active:hover,
		&:hover,
		&:focus,
		.menu {
			border: convert-rem(1px) solid;
			border-color: $grey-1 !important;
			@include transform-timing($animation-time);
			border-radius: $input-radius;
		}

		&.single {
			padding: $space-xs $space-xs;
			margin: $space-xs 0;
		}

		&.multiple {
			margin: $space-xs 0 0 0;
			padding: $space-xxs 0 $space-xxs $space-xxs;

			> .default.text {
				color: $grey-4;
				font-weight: $text-light;
				opacity: 1;
			}

			> .label {
				border: none;
				text-decoration: none;
				background-color: $black;
				color: $white;
				padding: 0.5rem;
				font-size: 85%;
				border-radius: 0;
				font-weight: 400;
				line-height: 12.24px;

				> i.icon.delete {
					opacity: 1;
					margin-left: 10px;

					&:before {
						color: #ffffff;
					}

					&:hover:before {
						color: #e84d38;
					}
				}
			}

			&:focus {
				outline: none;
			}
		}

		& > div {
			padding: 0;
		}
	}
}

/*This will enable dropdown fields requiring validation to manifest the same border red color as regular error inputs*/
.input-group--error {
	.dropdown__container {
		border-color: $color-support-red;
	}
}
