/* --------------------------------
Custom bot input styling
-------------------------------- */

/*This will enable dropdown fields requiring validation to manifest the same border red color as regular errored inputs*/
.input-group--error {
	.dropdown__container {
		.dropdown__control {
			border-color: $color-support-red;
		}
	}
}

/*Styling of date input */

//applying a white background to all date picker types and a hover effect
.input-group__date {
	.enabled {
		background-color: $white;
		&:hover,
		&:active,
		&:focus {
			color: $grey-6;
			border: convert-rem(1px) solid $grey-1;
			background-color: rgba($grey-1, 0.02);
			@include transform-timing($animation-time);
		}
	}
}

//pop-up of date picker
&.flatpickr-calendar {
	//Arrow
	&.arrowTop {
		&:after,
		&:before {
			border-bottom-color: $color-primary;
		}
	}

	//The top bar of the month and year
	.flatpickr-months {
		.flatpickr-month {
			background-color: $color-primary;
			.flatpickr-current-month .flatpickr-monthDropdown-months {
				background-color: $grey-6;
			}
			.flatpickr-monthDropdown-months,
			.cur-year {
				&:hover,
				&:active,
				&:focus {
					border: none;
					color: $white;
				}
			}
		}

		//month arrows
		.flatpickr-prev-month,
		.flatpickr-next-month {
			&:hover,
			&:active,
			&:focus {
				svg {
					fill: $grey-6;
				}
			}
		}
	}

	//The top bar of the weekdays
	.flatpickr-innerContainer .flatpickr-rContainer {
		.flatpickr-weekdays {
			background-color: $color-primary;

			span.flatpickr-weekday {
				background-color: transparent;
				color: $white;
			}
		}

		//The selected day in the calendar
		.flatpickr-day.selected,
		.flatpickr-day.startRange,
		.flatpickr-day.endRange,
		.flatpickr-day.selected.inRange,
		.flatpickr-day.startRange.inRange,
		.flatpickr-day.endRange.inRange,
		.flatpickr-day.selected:focus,
		.flatpickr-day.startRange:focus,
		.flatpickr-day.endRange:focus,
		.flatpickr-day.selected:hover,
		.flatpickr-day.startRange:hover,
		.flatpickr-day.endRange:hover,
		.flatpickr-day.selected.prevMonthDay,
		.flatpickr-day.startRange.prevMonthDay,
		.flatpickr-day.endRange.prevMonthDay,
		.flatpickr-day.selected.nextMonthDay,
		.flatpickr-day.startRange.nextMonthDay,
		.flatpickr-day.endRange.nextMonthDay {
			background-color: $color-primary;
			border: none;
		}
	}
}

/* End of datepicker styles */
