.react-contexify {
	padding: 0;

	.react-contexify__item__content {
		padding: 0;

		.btn {
			font-family: "Lato", sans-serif;
			font-size: 1rem;
			padding: 1rem;
			width: 100%;
			display: inline-flex;
			position: relative;
			border: none;
			justify-content: center;
			align-items: center;
			white-space: nowrap;
			font-weight: 500;
			text-decoration: none;
			line-height: 1;
			border-radius: 0;
			cursor: pointer;
			transition: 0.2s;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			-webkit-user-select: none;
			-moz-user-select: none;

			a & {
				text-decoration: none;
				color: rgb(34, 34, 34);
				border-bottom: none;

				&:active,
				&:focus,
				&:visited {
					text-decoration: none;
				}
			}

			&:focus {
				outline: none;
			}

			&:active {
				transition: none;
			}

			&:hover {
				cursor: pointer;

				@-moz-document url-prefix() {
					transition: none;
				}
			}

			&:hover,
			&:active {
				background-color: rgb(34, 34, 34);
				color: rgb(255, 255, 255);
			}
		}
	}
}
