
# See https://help.github.com/ignore-files/ for more about ignoring files.
# docs not used in this manor for tests
/docs

# capture screenshots
*.png

# code behind files
*.feature.cs

# Build files
**/DROP/
**/TEMP/
**/bin/
**/obj/

# %  ion % [Add any further ignores here] end