.dashboard {
	.option-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
	}

	.btn {
		margin: $admin-space-sm;
		flex-grow: 1;
	}
}

.admin-dashboard {
	text-align: center;

	.quick-links {
		button {
			margin: 1rem;
		}
	}
}
