.page {
	height: 100vh;
}

.content {
	display: flex;
	display: -webkit-flex;
	height: 100%;
}

.body {
	width: 100%;
	padding: 3rem;
	background: $grey-0;
	box-shadow: inset -20px 100px 50px -100px rgba(200, 230, 255, 0.3);
	height: calc(100vh - 4rem);
	overflow: auto;
}

.admin-body {
	background-color: #ffffff;
	width: calc(100% - 20rem);

	.body-content {
		height: 100%;
		overflow: auto;
		// width: calc(100% - 20rem);
	}
}
