/********** CRUD BUTTONS **********/

/********** CRUD CREATE NEW OR EDIT **********/

.crud-component {
	padding: $space-lg;
	.crud__create,
	.crud__edit,
	.crud__view {
		@include fadeIn(0.5s);

		.crud__header {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.crud__return {
				padding-left: 0;
				text-align: left;

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
				}
			}
		}

		.crud__form-container {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin-top: $space-sm;
			padding-bottom: $space-xl;

			fieldset {
				width: 100%;
			}

			.input-group {
				margin: $space-xs $space-md $space-xs 0;
				min-width: convert-rem(410px);
				@include media(xs, sm, md) {
					width: 100%;
				}
			}

			.input-group__checkbox {
				margin-top: $space-lg;
			}

			.form-container__section {
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				h6 {
					width: 100%;
					margin-bottom: 0;
					color: $color-primary;
					border-bottom: convert-rem(2px) solid $color-primary;
				}
			}
		}

		form {
			.input-checkbox {
				width: auto;
				display: flex;
				align-items: center;
				min-width: convert-rem(220px);
				margin-top: 0;
			}
		}
	}

	.form-errors {
		@include fadeIn(0.3s);
		color: $color-support-red;
	}
}
