/* --------------------------------
Sublinks navigation
-------------------------------- */
/*
Sublinks navigation are the lists that displays under an li link. Example of this is found in the admin navigation.
*/

.nav__sublinks {
	opacity: 0;
	background-color: $admin-grey-6;
	color: $admin-white;
	position: absolute;
	z-index: 3;
	padding: 0;
	overflow: hidden; //do not remove this

	span {
		white-space: nowrap;
	}

	li {
		white-space: nowrap;
		font-weight: $admin-text-light;

		a {
			color: $admin-white;
		}

		&:last-of-type {
			border-bottom: none;
		}

		&:hover,
		&:active,
		&:focus {
			a {
				color: $admin-white;
				@include transform-timing($admin-animation-time);
			}
		}
	}

	&.nav__sublinks--visible {
		opacity: 1;

		span {
			opacity: 1;
		}
	}
}
