/* --------------------------------
Spacing
https://medium.com/codyhouse/create-your-design-system-part-4-spacing-895c9213e2b9
-------------------------------- */

/* spacing values */
$admin-space-unit: 1rem !default;
$admin-space-xxxs: calc(0.25 * #{$admin-space-unit}) !default; //4px
$admin-space-xxs: calc(0.5 * #{$admin-space-unit}) !default; //8px
$admin-space-xs: calc(1 * #{$admin-space-unit}) !default; //16px
$admin-space-sm: calc(1.5 * #{$admin-space-unit}) !default; //24px
$admin-space-md: calc(2 * #{$admin-space-unit}) !default; //32px
$admin-space-lg: calc(3 * #{$admin-space-unit}) !default; //48px
$admin-space-xl: calc(3.5 * #{$admin-space-unit}) !default; //56px
$admin-space-xxl: calc(4 * #{$admin-space-unit}) !default; //64px
$admin-space-xxxl: calc(8 * #{$admin-space-unit}) !default; //128px

/* components padding */
$admin-component-padding: $admin-space-sm !default;
//****************-------SPACING VARIABLES--------****************
$admin-space-horizontal: 2rem !default;
$admin-space-vertical: 1rem !default;

// optional - edit space unit and padding of all components at a specific breakpoint
@include breakpoint(md) {
	$admin-space-uni: 1.25rem !default;
	$admin-component-padding: $admin-space-md !default;
}
