/* --------------------------------
Alert and toasters
-------------------------------- */
/*
Toasters are notifications of failed/successful actions that slide in on the top right corner of the screen.
Alerts are prompts that require user's actions to confirm a change.
*/

.toast-container,
.alert-container {
	position: fixed;
	top: $admin-space-lg;
	right: $admin-space-md;
	z-index: $admin-z-index-alert;

	.icon-x,
	.icon-cross {
		background: transparent;
		border: none;
		position: absolute;
		top: 0;
		right: 0.6rem;
		bottom: 0.3rem;
		grid-area: input;
		outline: none;

		&:before {
			display: none;
		}

		&:hover,
		&:active,
		&:focus {
			cursor: pointer;
			color: $admin-color-support-red;
			@include transform-timing($admin-animation-time);
		}
	}
}

.alert {
	cursor: pointer;
	margin: $admin-space-sm 0;
	background-color: $admin-white;
	padding: $admin-space-md $admin-space-lg;
	color: $admin-white;
	position: relative;
	display: grid;
	grid-template-areas:
		"p1 close"
		"p close"
		"p2 close";

	p {
		margin: 0;
		padding: 0;
		grid-area: p;

		&:first-of-type {
			grid-area: p1;
		}

		&:last-of-type {
			grid-area: p2;
		}
	}

	.btn {
		grid-area: close;
		color: $admin-white;
		padding: 0;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
		position: relative;

		&:hover,
		&:active {
			text-decoration: none;
			color: $admin-color-primary;
		}
	}

	&__info {
		color: $admin-black;

		.btn {
			color: $admin-color-primary;
		}
	}

	&__success {
		background-color: $admin-color-support-green;
	}

	&__warning {
		background-color: $admin-color-support-orange;
	}

	&__danger {
		background-color: $admin-color-support-red;
	}

	&__error {
		background-color: $admin-color-support-red;
	}
}
