.page {
	height: 100vh;
}

.content {
	display: flex;
	display: -webkit-flex;
	height: 100%;
}

.body {
	width: 100%;
	padding: 3rem;
	background: $grey-0;
	box-shadow: inset -20px 100px 50px -100px rgba(200, 230, 255, 0.3);
}
