/* --------------------------------
Layout
-------------------------------- */
/* 
_layout.scss is the set up of your project on where things sit.
For example below, grid-template-areas are set in a way to position your navigation depending on 
the type of navigation you choose to use. If you want things positioning differently, change the grid-template-areas
*/

/* full body layout */
/* -------------------------------------------------*/
/* ----------Set your project layout here ----------*/
/* -------------------------------------------------*/

/*
This class is where your information is in, sits next to the nav-vertical or below the nav-horizontal.
Change if require a new layout for your body content or if you have added a new custom component
*/

.body-content {
	overflow-y: auto;
	overflow-x: hidden;
	grid-area: body;
	display: grid;
	grid-template-areas:
		"header"
		"content";
	grid-template-rows: auto 1fr;
}

.collection-component,
.form-submission {
	padding: $space-md;
}
