.story-page {
	padding: 2rem;

	.story-title {
		width: 60%;
		@media screen and (max-width: 1500px) {
			width: 100%;
		}
		.title {
			font-size: 3rem;
		}
		.underline {
			height: 0.25rem;
			background-color: $colour-primary;
			animation: grow 1s;
		}

		@keyframes grow {
			from {
				width: 0%;
			}
			to {
				width: 100%;
			}
		}
	}

	.story-container {
		display: flex;
		display: -webkit-flex;
		@media screen and (max-width: 1500px) {
			display: block;
		}
		.story-content {
			width: 60%;
			padding-right: 4rem;

			table {
				margin: auto;
				text-align: center;
			}
			img {
				margin: auto;
				display: block;
				border-radius: 1rem;
				padding: 1rem;
				background: white;
				box-shadow: rgba(200, 200, 200, 0.2) 0px 3px 3px -2px, rgba(200, 200, 200, 0.14) 0px 3px 4px 0px, rgba(200, 200, 200, 0.12) 0px 1px 8px 0px;
				max-width: 100%;
			}
			h6 {
				text-align: center;
			}

			@media screen and (max-width: 1500px) {
				width: auto;
				padding: 0rem;
			}
		}

		.additional-articles {
			width: 40%;
			@media screen and (max-width: 1500px) {
				width: auto;
				margin-top: 4rem;
			}

			.additional-header {
				font-size: 1.5rem;
				margin: 0.5rem;
				span {
					font-weight: bold;
				}
			}

			.return-button {
				margin: 0.5rem;
				margin-top: 1rem;
				span {
					margin: auto;
				}
				svg {
					margin-left: 1rem;
				}
			}

			.additonal-articles-container {
				width: 100%;
				.article {
					width: auto !important;
					height: 6rem !important;
					@media screen and (max-width: 800px) {
						height: auto !important;
					}

					.article-image {
						width: 10rem !important;
						@media screen and (max-width: 800px) {
							width: auto !important;
						}
					}

					.article-content {
						.article-information {
							height: 4rem important;
							.article-description {
								display: none !important;
							}
						}
					}
				}
			}
		}
	}
}
