/* --------------------------------
Selects
-------------------------------- */

&.input-group__select {
	select {
		grid-area: input;
		background-color: transparent;
		border-radius: $admin-input-radius;
		@include appearance-none;
		padding: $admin-space-xs;
		position: relative;
		min-width: convert-rem(220px);
		max-width: convert-rem(495px);

		option {
			min-width: convert-rem(220px);
			max-width: convert-rem(440px);
		}
	}

	&:after {
		position: absolute;
		top: 2rem;
		right: 1.4rem;
	}

	@include icon(after, chevron-down);
}

&.input-group__dropdown {
	input {
		margin: 0;
		padding: 0.2rem 0;
		outline: none;

		&:focus,
		&:active,
		&:hover {
			outline: none;
		}
	}
}
