/* --------------------------------
Tooltips
-------------------------------- */
/*
Commonly used for inputs that do not make sense. These tooltips display with further information.
*/

.tooltip {
	display: inline;
	font-size: $admin-base-font-size;
	display: flex;
	cursor: pointer;
	z-index: 2;

	&:after {
		color: $admin-grey-6;
	}

	.tooltip__content {
		position: absolute;
		opacity: 0;
		margin-top: -1rem;
		right: convert-rem(30px);
		background-color: $admin-color-brand-03;
		font-size: $admin-text-sm;
		border-radius: $btn-radius;
		padding: $admin-space-sm;
		white-space: pre-wrap;
		cursor: auto;
		width: convert-rem(200px);
	}

	&:hover,
	&:active,
	&:focus {
		&:before {
			color: $admin-color-primary;
			@include transform-timing($admin-quick-animation-time);
		}

		.tooltip__content {
			opacity: 1;
			z-index: 1;
			@include fadeInLeft($admin-quick-animation-time);

			&:before {
				opacity: 1;
				z-index: 1;
			}
		}
	}
}
