/* --------------------------------
Search
-------------------------------- */
/*
Found above collection list 
*/

.search {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: auto;

	@include input-placeholder {
		@include icon(before, search);
	}

	input[type="text"] {
		border: convert-rem(1px) solid $admin-color-brand-02;
		padding: $admin-space-xs;
		margin: 0;
		line-height: 1.9;

		&:active,
		&:focus {
			&::-webkit-input-placeholder,
			&:-moz-placeholder,
			&:-ms-input-placeholder {
				opacity: 0;
				@include fadeOut($admin-animation-time);
			}
		}
	}

	.btn {
		padding: $admin-space-sm;
	}
}
