/* --------------------------------
Pagination
-------------------------------- */
/*
Found under collection list 
*/

.pagination {
	display: flex;
	justify-content: flex-end;

	ul {
		list-style: none;
		display: flex;
		align-content: center;
		align-items: center;

		li {
			.btn {
				padding: $space-xs $space-sm;
				font-size: $text-sm;

				&:hover,
				&:active {
					text-decoration: none;
					text-shadow: convert-rem(0px) convert-rem(0px) convert-rem(1px) $color-primary;
				}

				&:before,
				&:after {
					margin: 0 $space-xs;
				}
			}

			.pagination__page-number {
				margin: 0 $space-md;
				font-size: $text-sm;
			}
		}
	}
}
