

###############
#    folders   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/

###############
#    files   #
###############
log.txt
*.pfx

# Ignore triple underscore for any private folders
___*

# %  ion % [Add any further ignores here] end