/* --------------------------------
Workflow Landing page 
-------------------------------- */
/* 
Page with the boxes before you edit a workflow
*/

&.workflow-behaviour__landing {
	padding: $admin-space-md $admin-space-lg;
	overflow-y: auto;

	.workflow-block-items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		a {
			@include behaviour-blocks-a;
		}

		.workflow-item__new {
			@include behaviour-blocks-new;
		}

		.workflow-item {
			@include behaviour-blocks;

			.workflow-item__heading {
				h3 {
					font-weight: $admin-text-medium;
				}

				.workflow-entities {
					margin: 0;
					font-size: $admin-text-sm;
				}
			}

			.workflow-item__footer {
				display: flex;
				justify-content: space-between;
				align-content: baseline;
				max-height: convert-rem(40px);
				margin-top: auto;

				.workflow-item__version {
					@include block-versions;
				}

				.icon-more-horizontal {
					margin-left: auto;
					padding: 0;

					&:before {
						margin: 0;
					}
				}
			}
		}
	}
}
