/* --------------------------------
Workflow CRUD 
-------------------------------- */
/*
This is the workflows that is displayed in crud - imported into crud/_crud.scss
*/

.workflow__display {
	background-color: $admin-grey-0;
	padding: $admin-space-xxs $admin-space-sm;

	h4 {
		margin: $admin-space-xxs;
	}
}
