/* --------------------------------
Workflow Behaviour 
-------------------------------- */
/* 
Multiple imports are here such as sidebar, landing, and preview. 
*/

.workflow-behaviour {
	@import "workflows-landing.scss";

	.workflow__create,
	.workflow__edit,
	.workflow__view {
		overflow-y: visible;
		overflow: auto;

		.input-group {
			max-width: 500px;
			margin: $admin-space-md;
		}
	}

	//States tab activated
	@import "workflows-state.scss";

	.workflow__action-bar {
		.workflow__status {
			align-items: center;
			margin-left: $admin-space-sm;

			div {
				@extend .btn;
				@extend .btn--solid;
				@extend .btn--secondary;
				padding: $admin-space-xs $admin-space-md;
				cursor: text;

				&:hover,
				&:active {
					cursor: text;
					background-color: $admin-color-secondary;
					color: $admin-white;
				}
			}
		}
		.workflow__actions {
			margin-left: auto;
		}
	}
	@import "workflows-mobile.scss";
}
