/* --------------------------------
Forms landing page with the squares
-------------------------------- */

&.forms-behaviour__landing {
	padding: $admin-space-md $admin-space-lg;
	overflow: auto;

	.accordion {
		margin-top: $admin-space-lg;
		border-bottom: none;

		.icon-chevron-up {
			font-family: $admin-heading-font-family;
			font-size: $admin-text-lg;
			font-weight: $admin-text-medium;
			padding-bottom: $admin-space-md;
			border-bottom: convert-rem(3px) solid $admin-black;
			&:after {
				font-weight: $admin-text-regular;
			}
		}

		.accordion__info {
			background: transparent;

			.form-block-items {
				padding-top: $admin-space-md;
			}

			&--collapsed .forms-block-items {
				@include fadeOut($admin-animation-time);
			}

			&--expanded .forms-block-items {
				@include fadeIn($admin-animation-time);
			}
		}
	}

	.forms-block-items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@include media(xs, sm) {
			justify-content: center;
		}

		a {
			@include behaviour-blocks-a;
		}

		.form-item__new {
			@include behaviour-blocks-new;
		}

		.form-item {
			@include behaviour-blocks;

			.form-item__heading {
				h3 {
					font-weight: $admin-text-medium;
				}

				.form-responses {
					margin: 0;
					font-size: $admin-text-sm;
				}
			}

			.form-item__footer {
				display: flex;
				justify-content: space-between;
				align-content: baseline;
				max-height: convert-rem(40px);
				margin-top: auto;

				.form-item__versions {
					@include block-versions;
				}

				.icon-more-horizontal {
					margin-left: auto;
					margin-top: auto;
					padding: 0;
				}
			}
		}
	}
}
