/* --------------------------------
Forms preview page - upon editing
-------------------------------- */

.forms-preview {
	overflow: auto;
	padding: $admin-space-md;

	h3 {
		font-size: $admin-text-md;
		font-weight: $admin-text-regular;
		margin: $admin-space-md 0;
		border-bottom: convert-rem(2px) solid $admin-grey-2;
		margin-top: $admin-space-xxl;

		&:first-of-type {
			margin-top: $admin-space-md;
		}
	}
}
