/* --------------------------------
Header
-------------------------------- */
/*
Generic header element styling
*/

header {
	display: flex;

	img {
		width: auto;
		height: 7rem;
	}

	border-bottom: convert-rem(4px) solid rgba($color-brand-02, 0.5);
	margin-bottom: $space-lg;
}

//Header that is on the create section any behaviour with tabs on the right on create/view/edit
.header-bar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	box-shadow: convert-rem(0px) convert-rem(-1px) convert-rem(5px) convert-rem(0px) $grey-2;
	padding: 0 $space-md;
	height: $header-bar-height;

	//MOBILE STYLING
	@include media(xs, sm) {
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		ul {
			margin: $space-xxs;
		}
	}

	.tabs {
		margin-bottom: 0;

		ul {
			li {
				a {
					font-size: $text-md;
				}
			}
		}
	}
}
