/* --------------------------------
Collection - Menu Actions
-------------------------------- */
/*
Top section of collection - Search bar, filter buttons, grid buttons
*/

.collection__menu {
	display: flex;
	margin: $space-xs auto;
	align-items: center;

	.btn-group {
		margin-left: 2rem;
		align-items: center;
	}

	//Action buttons
	.collection__actions {
		display: flex;
		width: 100%;

		.btn {
			width: auto;
			min-width: 4rem;
			min-height: unset;
			padding: $space-xxs;
			margin-left: $space-xxs;
			font-size: $base-font-size;
			align-items: center;

			&:before {
				margin: 0.5rem auto;
			}

			&.icon-create {
				@include lightning-icon(after, plus);
				display: flex;
				margin-left: auto;
				padding: $space-xs $space-lg;
				min-height: $space-xxl;
			}
		}
	}
}

/******* Collection filter ********/
.collection__filters {
	border: convert-rem(1px) solid $grey-0;
	padding: $space-sm;
	min-height: convert-rem(200px);
	max-height: convert-rem(3000px);
	height: 100%;
	opacity: 1;
	@include cubic-bezier-ease-in(min-height, $animation-time);

	&.hide {
		@include cubic-bezier-ease-in(min-height, $animation-time);
		opacity: 0;
		height: 0;
		min-height: 0;
		max-height: 0;
		padding: 0;
	}

	.collection-filter-form__container {
		display: flex;
		flex-wrap: wrap;

		.input-group {
			margin: 0 $space-sm;
		}
	}

	.collection-filter-form__actions {
		display: flex;
		justify-content: flex-end;
	}
}

/***** Action menu, shows once user selects item in list *****/
.collection__select-options {
	display: flex;
	align-items: center;
	background-color: $color-secondary;
	padding: $space-md;
	margin-bottom: $space-lg;

	.collection__selection-actions {
		display: flex;
	}

	.btn {
		padding: 0rem;
		background-color: transparent;
		color: $white;
		margin: 0 $space-lg;
		font-weight: $text-regular;
		width: unset;
		line-height: 1.6;
		border: none;

		&:hover {
			text-shadow: convert-rem(0px) convert-rem(0px) convert-rem(1px) $white;
			@include transform-timing($animation-time);
			&:before {
				text-decoration: none;
			}
		}

		&:before {
			margin-right: $space-sm;
		}

		&:last-of-type {
			margin-right: 0;
			width: auto;
		}

		&.icon-export {
			&:before {
				transform: rotate(90deg);
			}
		}
	}

	.btn-group {
		margin-right: auto;
	}

	p {
		padding: 0rem;
		margin: 0rem;
		color: $white;
	}

	.crud__selection-count {
		margin-left: auto;
	}

	min-height: convert-rem(50px);
	@include cubic-bezier-ease-in($animation-time);

	&.hide {
		min-height: 0;
		margin-bottom: 0;
		@include cubic-bezier-ease-in($animation-time);
		padding: 0;
		opacity: 0;
	}
}
