/* --------------------------------
Collection - Grid View
-------------------------------- */
/*
Grid view of the collection list. In replacement a table view, there are blocks of items.
*/

.collection__grid {
	@include fadeIn(0.5s);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.collection__item {
		min-width: 25vw;
		width: auto;
		margin: $space-md 0;
		border: convert-rem(1px) solid $grey-2;

		.btn {
			margin: 0;
			&:hover {
				outline: none;
				color: $color-primary;
				background-color: transparent;
				text-decoration: none;
				@include transform-timing($animation-time);
			}
		}

		.grid-item__header {
			background-color: rgba($grey-2, 0.3);
			display: flex;
			padding: 0 $space-md;
			align-items: center;
			justify-content: flex-start;

			.input-group {
				margin-left: 0;
				margin-right: $space-md;
				input {
					margin: 0;
				}
			}

			.btn {
				margin-left: auto;
				font-size: $text-md;
				padding: 0;

				&:before {
					margin: 0;
				}
			}
		}

		.grid-item__content {
			padding: $space-md;

			div {
				display: flex;
				.item-content__label {
					font-weight: $text-bold;
					margin-right: $space-md;
					width: 10vw;
				}
			}
		}

		.grid-item__footer {
			display: flex;
			border-top: convert-rem(1px) solid $grey-2;
			justify-content: space-evenly;

			.btn {
				font-size: $text-sm;
				width: auto;
				padding: $space-sm;
				font-size: $base-font-size;

				&:before {
					margin-bottom: $space-xs;
				}

				&:hover {
					@include transform-timing($animation-time);
				}
			}
		}
	}
}
