/* --------------------------------
Collection List Component
-------------------------------- */
/*
Mobile responsive - ideal to display grid when on mobile devices
*/

.collection-component {
	/***** Top section of collection *****/
	@import "collection-menu-actions.scss";

	/************ LIST VIEW ************/
	@import "collection-list-view.scss";

	/************ GRID VIEW ************/
	@import "collection-grid-view.scss";

	.collection__grid,
	.collection__list {
		.input-group {
			display: flex;
			min-width: unset;
		}
	}

	//pagination styles for collections if necessary
	.collection__pagination {
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
		display: flex;
		align-content: center;
		align-items: center;

		li {
			.btn {
				padding: $space-xs $space-sm;

				&:before,
				&:after {
					margin: 0 $space-xs;
				}

				&:hover,
				&:active {
					text-decoration: none;
					color: $color-primary;
				}
			}

			.pagination__page-number {
				margin: 0 $space-md;
			}
		}
	}

	@import "collection-mobile.scss";
}
