.collection-component {
	/***** Top section of collection *****/
	@import "collection-menu-actions.scss";

	/***** List style/Table style *****/
	@import "collection-list-view.scss";

	/************ GRID VIEW ***************/
	@import "collection-grid-view.scss";

	.collection__grid,
	.collection__list {
		.input-group {
			display: flex;
			min-width: unset;
		}
	}

	//pagination styles for collections if necessary
	.collection__pagination {
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
		display: flex;
		align-content: center;
		align-items: center;

		li {
			.btn {
				padding: $admin-space-xs $admin-space-sm;

				&:before,
				&:after {
					margin: 0 $admin-space-xs;
				}

				&:hover,
				&:active {
					text-decoration: none;
					color: $admin-color-primary;
				}
			}

			.pagination__page-number {
				margin: 0 $admin-space-md;
			}
		}
	}

	@import "collection-mobile.scss";
}
