/* --------------------------------
Collection - Mobile styling
-------------------------------- */
/*
Mobile responsive - ideal to display grid when on mobile devices
*/

@include media(xs, sm) {
	padding: 0;

	/******* Top section of collection - Search bar, filter buttons, grid buttons *******/
	.collection__menu {
		flex-direction: column;
		padding: $admin-space-sm;

		.search,
		.search input[type="text"] {
			width: 100%;
		}

		.search__collection {
			justify-content: flex-start;

			.input-group {
				width: 100%;
			}
		}

		//Action buttons
		.collection__actions {
			display: flex;
			width: 100%;
			margin-top: $admin-space-xs;

			.btn {
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}

	/******* Collection filter ********/
	.collection__filters {
		.collection-filter-form__actions {
			flex-wrap: wrap;
		}
	}

	/******* Collection grid ********/
	.collection__grid {
		justify-content: center;
	}

	//pagination styles for collections if necessary
	.collection__pagination {
		justify-content: center;
	}
}
