/* --------------------------------
Action bar
-------------------------------- */
/*
This component is a bar that can be used in your target project and placed in the bottom of the page with action buttons 
*/

.action-bar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: $action-bar-height;
	box-shadow: convert-rem(0px) convert-rem(-1px) convert-rem(5px) convert-rem(0px) $grey-2;
	bottom: 0;
	background-color: $white;
	grid-area: actionbar;

	.btn {
		padding: $space-xs $space-md;
	}

	@include media(xs, sm, md, lg) {
		.workflow__status,
		.forms__status {
			display: none;
		}
	}
}
